.casterFrame {
  width: 100%;

  iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }
  position: relative;
  .info {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
    align-items: center;
    width: 20rem;
    margin-inline: auto;
    transform: translateY(-5rem);
    .sub {
      font-size: 1rem;
      display: flex;
      gap: 1rem;
      .pronouns {
        &::before {
          content: "(";
        }
        &::after {
          content: ")";
        }
      }
    }
  }
}
