.casterFrame {
  aspect-ratio: 16 / 9;
  width: 100%;
  iframe {
    height: 99%;
    width: 99%;
  }
  position: relative;
  .name {
    color: var(--tranqYellow);
    z-index: 2;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    span {
      position: absolute;
      bottom: 0.3em;
      padding: 0.2rem;
      //   left: 50%;
      margin-inline: auto;
      text-align: center;
      background-color: var(--tranqBlue);
    }
  }
}
