/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  // background: #eee;
  // outline: 2px solid tomato;
  width: 30rem;
  position: absolute;
  margin-top: 50.8%;
  margin-left: 37.2%;
  z-index: 2 !important;
  color: rgb(71, 71, 71);
  font-size: 2rem;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: fit-content;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

@keyframes tickerh {
  0% {
    transform: translate3d(300%, 0, 0);
  }
  100% {
    transform: translate3d(-300%, 0, 0);
  }
}
.hmove {
  animation: tickerh linear var(--tickerduration) infinite;
}

.credits {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.backgroundImage {
  position: absolute;
  z-index: 1;
}
.startingTimer {
  font-size: 7rem;
  position: absolute;
  color: white;
  top: 15.5%;
  left: 24.5%;
  height: 7rem;
  width: 21rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  // outline: 2px solid tomato;
}
.tickerBox {
  // outline: 2px solid tomato;
  height: 3rem;
  z-index: 2;
  position: absolute;
  width: 29.5rem;
  overflow: hidden;
  top: 90.75%;
  left: 37.5%;

  .halfTimeText {
    font-size: 2.5rem;
    width: 60rem;
  }
}

.teams {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  top: 32vh;
  .score {
    // outline: 2px solid tomato;
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: -1%;
    font-size: 10rem;
    z-index: 2;
    text-align: center;
  }
  .name {
    position: absolute;
    font-size: 2.5rem;
    z-index: 2;
    // outline: 2px solid tomato;
    height: 2.5rem;
    width: 30rem;
    text-align: center;
    top: 98.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .record {
    position: absolute;
    font-size: 2.5rem;
    z-index: 2;
    top: 112%;
    height: 2.5rem;
    width: 11rem;
    // outline: 2px solid tomato;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.team2 {
  .logo {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      var(--team2PrimaryColor) 0%,
      var(--team2SecondaryColor) 100%
    );
  }
  .score {
    left: 81.5%;
  }
  .name {
    left: 51.75%;
  }
  .record {
    left: 67.8%;
  }
}
.team1 {
  .logo {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      var(--team1PrimaryColor) 0%,
      var(--team1SecondaryColor) 100%
    );
  }
  .score {
    left: 8.5%;
  }
  .name {
    left: 23%;
  }
  .record {
    left: 23%;
  }
}
.videoBlocker {
  position: absolute;
  background-color: black;
  height: 29.7rem;
  width: 63rem;
  left: 23.86%;
  top: 33%;
  z-index: 10;
}
.teamsSide {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 11;
  column-gap: 50rem;
  top: 31%;
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // width: 410px;
    height: 100vh;
    gap: 1rem;
  }
  .logoContainer {
    // overflow: hidden;
    // max-height: 234px;
    // max-width: 250px;
    // background-image: url("/tranqLogoTransparent.png");
    // background-size: cover;
    // background-size: 115%;
    // background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    .logo {
      // filter: drop-shadow(-2px 2px 1px black);
      height: 100%;
    }
  }
  .scoreBox {
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16rem;
    line-height: 1px;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    .score {
      position: relative;
      top: -0.5rem;
    }
  }
  .codeBox {
    width: 250px;
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    font-size: 3rem;
    display: none;
    .code {
      // width: 250px;

      text-align: center;
    }
  }
  .team1Side {
    .logo {
      background: rgb(0, 0, 0);
      background: linear-gradient(
        180deg,
        var(--team1PrimaryColor) 0%,
        var(--team1SecondaryColor) 100%
      );
    }
  }
  .team2Side {
    .logo {
      background: rgb(0, 0, 0);
      background: linear-gradient(
        180deg,
        var(--team2PrimaryColor) 0%,
        var(--team2SecondaryColor) 100%
      );
    }
  }
}
