.mapinfo {
  .teamBar {
    display: flex;
    height: 100px;
    background-color: #101010;
    width: 1200px;
    margin-inline: auto;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .team1,
  .team2 {
    display: flex;
    align-items: center;
  }
  .team2 {
    flex-direction: row-reverse;
  }
  .score {
    background-color: white;
    color: black;
    font-size: 5rem;
    width: 100px;
    text-align: center;
    height: 100%;
  }
  .logo {
    margin-inline: 1rem;
    img {
      height: 90%;
    }
  }
  .maps {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 5rem;

    .map {
      position: relative;
    }
    .image {
      height: 700px;
      border-radius: 1rem;
      width: 350px;
      background-position: center;
      background-size: cover;
    }
    .name {
      font-size: 2.5rem;
      text-align: center;
      background-color: #101010;
      color: white;
      padding-block: 1rem;
      position: absolute;
      bottom: 2rem;
      width: 100%;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.9rem;
      box-sizing: border-box;
      line-height: 2.5rem;
    }
    .winlogo {
      z-index: 5;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
