@keyframes scaleDown {
  0% {
    scale: 2.75;
  }
  100% {
    scale: 1;
  }
}
.bg {
  z-index: -10;
  position: absolute;
  display: none;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 1.75rem;
  // font-weight: bold;
  font-family: "Industry";
  height: 100%;
  margin-top: 1rem;
  .tierTag {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    flex-direction: row;
    margin-left: auto;
  }
  .infoBox {
    font-size: 1.5rem;
    height: 1.5rem;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 16% 100%);
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
  }

  .team {
    display: flex;
    &.team2 {
      flex-direction: row-reverse;
      .teamMain {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }

    .teamMain {
      display: flex;
      position: relative;
      .trapezoid {
        position: absolute;
        left: -1.4rem;

        transform: translateY(0.675rem);
        color: var(--team1PrimaryColor);
        .tl {
          font-size: 5.5rem;
          transform: translateY(0.27rem);
          position: absolute;
          color: white;
          top: 1rem;
          color: var(--team1SecondaryColor);
        }
        .tr {
          font-size: 8rem;
          margin-inline-start: 3.5rem;
        }
      }
      .accentline {
        position: absolute;
        bottom: 0.75rem;
        width: 87.5%;
        left: 0;
        height: 0.25rem;
        background-color: var(--team1PrimaryColor);
      }
      .name {
        z-index: 1;
        max-width: 330px;
        flex-shrink: 1;
        white-space: nowrap;
        // margin-bottom: 0.25rem;
      }
      .accent {
        z-index: 2;
        // animation: 1s ease-out 0s 1 scaleDown;
        --accentScale: 1;
        transition: all 1500ms;
        &.outside1 {
          position: absolute;
          background-color: var(--team1PrimaryColor);
          height: 200px;
          width: 200px;
          transform: rotate(-45deg) translateX(9.2rem) scale(var(--accentScale));
        }
        &.inside1 {
          position: absolute;
          background-color: var(--team1PrimaryColor);
          height: 200px;
          width: 200px;
          left: -5rem;
          top: 0;
          transform: rotate(-45deg) scale(var(--accentScale));
          overflow: hidden;
          // background-image: url("/tranqLogoTransparent.png");
          background-size: cover;
          // background-size: 10%;
          background-position: center;
          background-repeat: repeat;
          // z-index: 0;
        }
        &.outside2 {
          position: absolute;
          background-color: var(--team2PrimaryColor);
          height: 200px;
          width: 200px;
          top: 0;
          right: -5rem;
          transform: rotate(-45deg) scale(var(--accentScale));
          // z-index: 0;
          overflow: hidden;
          // background-image: url("/tranqLogoTransparent.png");
          background-size: cover;
          // background-size: 10%;
          background-position: center;
        }

        &.inside2 {
          position: absolute;
          background-color: var(--team2PrimaryColor);
          height: 200px;
          width: 200px;
          transform: rotate(45deg) translateX(-9.2rem) scale(var(--accentScale));
        }
      }

      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      height: 65px;
      width: 567px;
      gap: 0.5rem;
      overflow: hidden;
      padding: 0;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 0.25rem;
        background-color: #b6ac6d;
        position: absolute;
        bottom: 0.25rem;
      }

      &::after {
        content: "";
        width: 100%;
        height: 0.25rem;
        background-color: #b6ac6d;
        position: absolute;
        top: 0.25rem;
      }

      .record {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        // margin-bottom: 0.25rem;
      }

      .logoContainer {
        // overflow: hidden;
        z-index: 4;
        // // background-color: white;
        // max-height: 100%;
        // padding: 0.5rem;
        .logo {
          z-index: 4;
          // transform: scale(1.1);
          margin-top: 0.3rem;
        }
      }

      .atkDef {
        // margin-top: 0.4rem;
        width: 2.5rem;
        height: 2.5rem;
        color: white;
        z-index: 3;
        margin-bottom: 0.1rem;
        font-size: 2.5rem;
      }
    }
    .scoreBox {
      overflow: hidden;
      display: flex;
      font-size: 3rem;
      width: 65px;
      height: 65px;
      background-color: black;
      color: white;
      text-align: center;
      justify-content: center;
      z-index: 2;
      align-items: center;
      .score {
        position: relative;
        bottom: 2px;
      }
    }
    &.team1 {
      .logo {
        filter: drop-shadow(-2px 2px 1px black);
      }
      .scoreBox {
        // margin-left: 0.25rem;
        background-color: black;
      }
      .teamMain {
        justify-content: right;
      }
      .atkDef {
        margin-right: auto;
        margin-left: 1rem;
        filter: drop-shadow(-2px 2px 0px black);
      }
    }
    &.team2 {
      .logo {
        filter: drop-shadow(2px 2px 1px black);
      }
      .scoreBox {
        // margin-right: 0.25rem;
        background-color: black;
      }
      .atkDef {
        margin-left: auto;
        margin-right: 1rem;
        filter: drop-shadow(2px 2px 0px black);
      }
      .accentline {
        left: auto;
        right: 0;
        background-color: var(--team2PrimaryColor);
      }
      .trapezoid {
        left: auto;
        right: -1.4rem;
        transform: translateY(0.675rem) scaleX(-1);
        color: var(--team2PrimaryColor);
        .tl {
          color: var(--team2SecondaryColor);
        }
      }
    }
  }
}
.titleBox {
  width: 35rem;
  background-color: red;
  margin-inline: auto;
  background: rgb(15, 31, 46);
  background: linear-gradient(
    90deg,
    rgba(15, 31, 46, 1) 0%,
    rgba(15, 31, 46, 1) 50%,
    rgba(205, 146, 46, 1) 50%,
    rgba(205, 146, 46, 1) 100%
  );

  .eventTitle {
    white-space: nowrap;
    height: 65px;
    background-color: white;
    text-align: center;
    clip-path: polygon(5% 0, 95% 0, 90% 100%, 10% 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
    div p {
      margin: 0;
    }
    .caption {
      font-size: 1rem;
    }
  }
}
