.FALSE {
  opacity: 0;
}
.TRUE {
  opacity: 1;
}

.teams {
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  .left {
    flex-direction: row;
  }
  .right {
    flex-direction: row-reverse !important;
    .teamMain {
      flex-direction: row-reverse;
    }
    .teamStats {
      text-align: right;
    }
    .bgwrapper {
      transform: scaleX(-1) translateX(-1.5rem);
    }
  }
  .team1 {
    .logo {
      background-color: var(--team1PrimaryColor);
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      );
    }
    .bgimg,
    .name,
    .record {
      color: var(--team1AccentColor);
    }
  }
  .team2 {
    .teamMain {
      background-color: var(--team2PrimaryColor);
    }

    .logo {
      background-color: var(--team2PrimaryColor);
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      );
    }

    .bgimg,
    .name,
    .record {
      color: var(--team2AccentColor);
    }
  }
}
.team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  margin-inline: 2.7rem;

  .atkDef {
    font-size: 2.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    justify-self: flex-end;
  }
  .teamStats {
    background-color: rgba(0, 0, 0, 0.7);
    margin-block: 6px;
    padding: 0.25rem;
    padding-inline: 0.5rem;
    font-family: "OswaldMedium";
  }
  .teamMain {
    background-color: var(--team1PrimaryColor);
    height: 54px;
    display: flex;
    width: 525px;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    .bgwrapper {
      position: relative;
      .bgimg {
        position: absolute;
        transform: scale(5);
        z-index: 0;
        opacity: 0.1;
        // object-fit: cover;
        font-size: 5rem;
      }
    }

    .name {
      font-size: 34px;
      padding-block: 0.5rem;
      margin-left: 0.5rem;
      max-width: 320px;
      // outline: 2px solid chartreuse;
      height: 36px;
      line-height: 34px;
      overflow: hidden;
      white-space: nowrap;
      transform: translateY(-1px);
      padding-inline: 0.5rem;
      // text-overflow: ellipsis;
    }
    .record {
      padding-block: 0.5rem;
      transform: translateY(-1px);
      font-size: 20px;
    }

    .score {
      font-size: 40px;
      width: 50px;
      text-align: center;
      background-color: #101010;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
    .logo {
      height: 100%;
      aspect-ratio: 1 / 1;
      padding-inline: 0.5rem;
      z-index: 2;

      .logoImage {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.infoBox,
.tierTag {
  background-color: rgba(0, 0, 0, 0.7);
  margin-block: 0.25rem;
  padding: 0.25rem;
  color: white;
  font-size: 1.25rem;
  font-family: "OswaldMedium";
}

.infoBox {
  width: fit-content;
  position: absolute;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
}

.tierTag {
  width: fit-content;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  padding-inline: 1rem;

  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  padding-left: 3.5rem;
  span {
    position: absolute;
    font-size: 2.25rem;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
