.teams {
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  .team1 {
    flex-direction: row;
  }
  .team2 {
    .teamMain {
      flex-direction: row-reverse;
    }
  }
}
.team {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  margin-inline: 2rem;
  .atkDef {
    font-size: 2.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    justify-self: flex-end;
  }
  .teamStats {
    background-color: rgba(0, 0, 0, 0.7);
    margin-block: 0.25rem;
    padding: 0.25rem;
  }
  .teamMain {
    background-color: var(--team1PrimaryColor);
    height: 54px;
    display: flex;
    width: 515px;
    justify-content: flex-end;
    align-items: flex-end;

    .name {
      font-size: 34px;
      padding-block: 0.5rem;
      margin-inline: 0.5rem;
      max-width: 320px;
      // outline: 2px solid chartreuse;
      height: 36px;
      line-height: 34px;
      overflow: hidden;
      white-space: nowrap;
      // text-overflow: ellipsis;
    }
    .record {
      padding-block: 0.5rem;
    }

    .score {
      font-size: 34px;
      width: 48px;
      text-align: center;
      background-color: black;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo {
      height: 100%;
      aspect-ratio: 1 / 1;
      background-color: black;
      padding-inline: 0.5rem;

      .logoImage {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.infoBox,
.tierTag {
  background-color: rgba(0, 0, 0, 0.7);
  margin-block: 0.25rem;
  padding: 0.25rem;
  color: white;
}

.infoBox {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tierTag {
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
