/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  // background: #eee;
  width: 100vw;
  position: absolute;
  margin-top: 46.1%;
  z-index: 0 !important;
  color: #474747;
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
  display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

@keyframes tickerh {
  0% {
    transform: translate3d(150%, 0, 0);
  }
  100% {
    transform: translate3d(-150%, 0, 0);
  }
}
.hmove {
  animation: tickerh linear var(--tickerduration) infinite;
}

.backgroundImage {
  position: absolute;
  z-index: 0;
}
.infos {
  & > * {
    position: absolute;
    z-index: 2;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  --darkbluetext: #10202e;

  font-size: 2rem;
  .name1,
  .name2 {
    // outline: 2px solid red;
    width: 30rem;
    height: 4.2rem;
    font-size: 2.5rem;
  }
  .info1,
  .info2 {
    // outline: 2px solid blue;
    top: 62.25%;
    width: 17rem;
    color: white;
  }
  .casterName1,
  .casterName2,
  .otherStaff {
    // outline: 2px solid goldenrod;
    width: 30rem;
    color: white;
    justify-content: space-between;
    font-size: 1.9rem;
    color: var(--darkbluetext);
    span {
      color: white;
    }
  }
  .logo1,
  .logo2 {
    // outline: 2px solid chartreuse;
    width: 450px;
    height: 450px;
    top: 12.5%;
  }
  .startingTimer {
    // outline: 2px solid black;
    top: 79%;
    left: 1%;
    font-size: 7rem;
    width: 20rem;
    color: white;
  }

  .name1 {
    top: 55.25%;
    left: 36.5%;
  }
  .name2 {
    top: 55.25%;
    left: 72%;
  }
  .info1 {
    left: 37%;
  }
  .info2 {
    left: 82%;
  }
  .logo1 {
    left: 37.5%;
  }
  .logo2 {
    left: 73%;
  }
  .casterName1 {
    top: 89%;
    left: 37%;
  }
  .casterName2 {
    top: 94%;
    left: 37%;
  }
  .otherStaff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 86.9%;
    left: 71%;
    height: 8.5rem;
    width: 34rem;
    // font-size: 5rem;
    .otherStaffName {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
      color: var(--darkbluetext);
    }
  }
  .matchInfo {
    display: flex;
    flex-direction: column;
    top: 68.4%;
    left: 33%;
    // outline: 2px solid tomato;
    width: 80rem;
    font-family: "IndustryBlack";

    .title,
    .tier {
      color: #474747;
      font-size: 2.1rem;
    }
    .dateTime {
      color: #333;
      font-weight: 600;
      font-size: 3.4rem;
      text-shadow: 1px 1px 5px #474747;
    }
  }
}
