@font-face {
  font-family: "Industry";
  src: url("/fonts/Industry-Bold.woff") format("woff");
}
@font-face {
  font-family: "IndustryBlack";
  src: url("/fonts/Industry-Black.woff") format("woff");
}
@font-face {
  font-family: "TommyMedium";
  src: url("/fonts/Tommy-Medium.woff");
}
@font-face {
  font-family: "TommyRegular";
  src: url("/fonts/Tommy-Regular.woff");
}

:root {
  font-family: "Heebo";
  font-weight: 800;
  line-height: 1.2;
  --speed: 500ms;
  --accentcolor: #df30e6;
  --bgbase: 15, 15, 15;
  --bgopacity: 1;
  --bgcolor: rgba(var(--bgbase), var(--bgopacity));
  // --bgcolor: #01273dbe;
  // --textcolor: #cdd1d4;
  --textcolor: white;
  --titlecolor: #96d7f3;
  --errorcolor: rgb(212, 53, 53);
  --shadowsetting: 0px 0px 3px black;
  --borderradius: 0rem;
  --dropshadow: drop-shadow(1px 1px 1px black);
  --transitionduration: 200ms;
  --scale: 1.05;
  --tranqBlue: #0f1f2e;
  --tranqYellow: #cd922e;

  text-transform: uppercase;

  // height: 1080px;
  // width: 1920px;
  font-size: 16px;
  & > * {
    margin: 0;
  }
}
.fade-enter {
  opacity: 0;
  transform: translateY(-50px);
}
.fade-exit {
  opacity: 1;
  transform: translateY(0px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-50px);
}
.fade-enter-active,
.fade-exit-active {
  transition: all 500ms;
}
