.linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  h1 {
    background-color: black;
    color: white;
    padding: 1rem;
  }
  p {
    background-color: black;
    padding: 1rem;
    color: white;
    max-width: 40rem;
  }
  .link {
    transition: all 500ms;
    font-size: 2rem;
    text-decoration: none;
    color: black;

    &:hover {
      scale: 1.5;
      color: var(--accentcolor);
      filter: drop-shadow(30px 10px 1px #4444);
    }
  }
}
