.scoreboard {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 2rem;
  font-family: "Kanit", sans-serif;
  height: 100%;

  .team {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65px;
    width: 600px;
    gap: 1rem;
    padding-inline: 1rem;
    box-shadow: var(--shadowsetting);

    .name {
      width: 400px;
    }
    .logoContainer {
      max-height: 100%;
    }
    .record {
      font-size: 1.5rem;
    }
    .score {
      font-size: 3rem;
    }
    .logoContainer {
      overflow: hidden;
      .logo {
        position: relative;
        top: -68px;
      }
    }
    &.team1 {
      text-align: right;
      border-radius: 0rem 0rem 0.5rem 0rem;
      .logoContainer {
        background-color: #cc922e;
      }
    }
    &.team2 {
      border-radius: 0rem 0rem 0rem 0.5rem;
      .logoContainer {
        background-color: #0f1f2e;
      }
    }
  }
}
