.linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  .link {
    font-size: 5rem;
    text-decoration: none;
    color: black;
    &::before {
      content: ">";
    }
    &:hover {
      color: var(--accentcolor);
    }
  }
}
