.scoreboard {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 2.5rem;
  // font-weight: bold;
  font-family: "Industry";
  height: 100%;
  margin-top: 1rem;

  .team {
    display: flex;
    .teamMain {
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 20px;
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 75px;
      }

      .insideAccent,
      .outsideAccent {
        position: absolute;
      }

      background-color: var(--textcolor);
      color: var(--bgcolor);
      display: flex;
      align-items: center;
      // justify-content: space-evenly;
      height: 65px;
      width: 567px;
      gap: 1rem;
      // box-shadow: var(--shadowsetting);
      overflow: hidden;
      padding: 0;

      .record {
        font-size: 1.85rem;
        margin-top: 0.5rem;
      }

      .logoContainer {
        overflow: hidden;
        z-index: 2;
        // background-color: white;
        max-height: 100%;
        .logo {
          filter: drop-shadow(2px 2px 1px black);
        }
      }

      .atkDef {
        margin-top: 0.4rem;
        filter: drop-shadow(2px 2px 1px black);
        color: white;
      }
    }
    .scoreBox {
      display: flex;
      font-size: 3rem;
      width: 65px;
      height: 65px;
      background-color: black;
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    &.team1 {
      .scoreBox {
        margin-left: 0.25rem;
      }
      .teamMain {
        justify-content: right;
      }
      .atkDef {
        margin-right: auto;
        margin-left: 1rem;
      }
    }
    &.team2 {
      .scoreBox {
        margin-right: 0.25rem;
      }
      .atkDef {
        margin-left: auto;
        margin-right: 1rem;
      }
    }
  }
}
